<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        .textP{
            font-weight: bold;
            font-size: 20px;
            color: rgb(15, 91, 18);
        }
    </style>
</head>
<body>
    <h3 class="title">Cliente: @{nombre}</h3>
    <h3 class="title">Email: @{email}</h3>
    <h3 class="title">Celular: @{celular}</h3>
    <h3 class="title">Mensaje: @{mensaje}</h3>
</body>
</html>

